* {
    margin: 0;
}

#navigation ul {
    padding: 0 !important;
}

*:focus {
    outline: none;
}

.right {
    flex: 5;
    display: flex;
    flex-direction: column;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    height: 52px;
    background: skyblue;
    display: flex;
}

.header_row {
    padding: 0 40px;
    justify-content: center;
    flex-direction: column;
}

.header_row,
.three-up {
    display: flex;
    flex: 1;
}

.welcome {
    position: absolute;
    border-right: 1px solid white;
    padding-right: 85px;
}

.text,
.sign_in,
.registered {
    color: white;
}

#text_language {
    padding-right: 5px;
    position: relative;
}

.vouchers {
    padding-left: 50%;
}

.welcome,
.vouchers,
.language,
.money,
.button {
    display: flex;
}

.sign_in,
.registered {
    border: none;
    background: skyblue;
}

.handbag_image {
    width: 20px;
    height: 20px;
}

.single_image {
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.single_image_handbag {
    width: 14px;
    height: 14px;
    font-size: 10px;
    border-radius: 14px;
    background-color: violet;
    color: white;
    text-align: center;
    flex-direction: column;
    margin-right: 10px;
    position: relative;
    margin-left: -6px;
}

.money {
    padding-left: 28px;
}

.button {
    padding: 0 10px;
}

.money,
.language {
    padding-right: 14px;
    border-right: 1px solid white;
}

.three-up {
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.characters {
    color: white;
}

.subnav {
    display: none;
    list-style: none;
    position: absolute;
    top: 25px;
    left: -80px;
    background: white;
    border-radius: 4px;
    align-items: center;
    /* display: flex; */
    flex-direction: column;
    padding-left: 11px !important;
}

.subnav .english {
    display: inline-block;
    padding: 15px;
    color: black;
    width: 100%;
    /* padding-left: 26px; */
}

#text_language:hover {
    color: yellow;
}

#text_language:hover .subnav {
    display: block;
}

.text_usd {
    color: white;
}

#text_language {
    display: flex;
}

.language .subnav li:hover {
    color: blue
}

#hover_bestseller {
    display: none;
    list-style: none;
    top: 67px;
    left: -49px;
    position: absolute;
    padding-left: 0px !important;
    background: white;
    border-radius: 4px;
    z-index: 999;
    color: black;
    align-items: center;
}

.list li:hover #hover_bestseller {
    display: flex;
}

.list li {
    display: inline-block;
    position: relative;
}

.english_toys {
    padding-right: 60px;
    font-size: 20px;
}

.english_edication {
    padding-right: 25px;
    font-size: 20px;
}

.image_hover {
    padding-left: 60px;
}

.english_fashion {
    padding-right: 36px;
    font-size: 20px;
}

.english_clothing {
    padding-right: 44px;
    opacity: 0.7;
}

.english_shoe {
    padding-right: 66px;
    opacity: 0.7;
}

.english_backpack_one {
    color: skyblue;
}

.english_backpack,
.english_backpack_one {
    padding-right: 35px;
    opacity: 0.7;
}

.english_hat {
    padding-right: 75px;
    opacity: 0.7;
}

.english_accessories {
    padding-right: 23px;
    opacity: 0.7;
}

.list_item_bestseller:hover {
    background: rgb(54, 136, 168);
    border-radius: 14px;
}

.hover_fashion {
    list-style: none;
}

.hover_toys,
.hover_edication {
    list-style: none;
    padding-left: 60px;
}

.text_currency {
    padding-right: 3px;
    color: white;
}

.icon_arrow {
    padding-left: 5px;
    padding-top: 3px;
    font-size: 10px;
    padding-top: 2px;
}

.nav {
    height: 135px;
    background-color: skyblue;
    border-top: 1px solid white;
    text-align: center;
    align-items: center;
    padding: 0 55px;
}

.search {
    border: none;
    border-radius: 7px;
    padding: 6px;
}

.icon_search {
    background: white;
}

.search_icon {
    margin-left: 70px;
    border: 1px solid white;
    background: white;
    border-radius: 10px;
}

.nav {
    display: flex;
}

.icon {
    float: right;
    padding-top: 5px;
}

.list {
    display: flex;
}

.list_item {
    padding: 0 5px !important;
    color: white;
    display: flex;
    line-height: 40px;
}

.list_item_bestseller {
    padding: 0 5px !important;
    color: white;
    display: flex;
    line-height: 40px;
}

.miukid {
    padding-right: 50px;
}

.cart_handbag {
    display: flex;
}

.handbag {
    width: 16px;
    height: 16px;
}

.handbag_cart {
    height: 28px;
    width: 28px;
    border-radius: 28px;
    background: violet;
    justify-content: center;
    display: flex;
    align-items: center;
}

.cart_handbag {
    padding-left: 30px;
}

.icon_below {
    font-size: 10px;
    padding-top: 15px;
}

.cart {
    color: white;
}

.cart_money {
    color: white;
    padding-left: 17px;
}

.list_item:hover {
    background: rgb(54, 136, 168);
    border-radius: 14px;
}

.catetories {
    display: flex;
    background: skyblue;
    height: 40px;
    padding-left: 20px;
    padding-top: 17px;
}

.cate {
    padding-left: 20px;
}

.section_body {
    margin: 20px 30px;
    display: flex;
}

.block {
    background: #f5fcff;
    display: inline-block;
    height: 450px;
    width: 266px;
}

.book {
    padding-bottom: 70px !important;
}

.services ul {
    list-style: none;
    /* padding-left: 0px !important;
        padding-top: 30px; */
}

.services ul li {
    padding: 10px 20px;
}

.clothing {
    display: flex;
}

.backpack {
    display: flex;
}

.plus_sign {
    padding-left: 70px;
}

.sister_kids {
    display: flex;
}

.slideshow {
    padding: 0 30px;
}

.back {
    padding: 7px 11px;
    border-radius: 15px;
    background: white;
    position: relative;
    margin-top: 170px;
    margin-left: 30px;
}

.back_right {
    padding: 7px 11px;
    border-radius: 15px;
    background: black;
    position: absolute;
    color: white;
    margin-top: 170px;
    margin-left: 578px;
}

.image_slideshow {
    position: absolute;
    max-width: 700px;
}

.sister {
    position: relative;
    right: -650px;
    object-fit: fill;
}

.icon_menu {
    padding-right: 14px;
}

.new_arival {
    height: 500px;
    padding-top: 50px;
}

.row {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(71, 70, 70);
}

.icon_left {
    margin-right: 5px;
}

.icon_left,
.icon_right {
    padding: 4px 8px;
    border-radius: 15px;
    background-color: #f4f4f4;
    font-size: 10px;
}

.arrival {
    padding-right: 20px;
}

.sale {
    border: 1px solid #fdc140;
    background: #fdc140;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    margin-left: 65px;
    font-size: 13px;
}

.sale_sweatshirt {
    padding-top: 20px;
}

.sweatshirt {
    position: absolute;
    padding-top: 5px;
}

.shirt {
    position: absolute;
    padding-left: 102px;
}

.star {
    font-size: 10px;
    color: goldenrod;
}

.Rewiew {
    padding-left: 5px;
}

.all_star,
.sale_money {
    display: flex;
    padding-top: 15px;
}

.fourty_two {
    padding-left: 23px;
    opacity: 0.5;
}

.sale_animal,
.sale_shoe {
    padding-top: 130px;
}

.frice_only_from {
    display: flex;
    margin-top: 180px;
    margin-left: 30px;
    margin-right: 30px;
}

.frice {
    background: rgb(227, 61, 104);
    height: 60px;
    width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.winter_harvest {
    background: hsl(0, 0%, 96%);
    height: 60px;
    width: 300px;
    text-align: center;
}

.frice_only {
    font-size: 17px;
}

.ninety_nine {
    font-size: 20px;
    padding-left: 20px;
}

.clothes {
    background-color: rgb(244, 244, 244);
}

.harvest {
    font-size: 23px;
    color: tomato;
    font-weight: bold;
}

.fashion {
    font-size: 12px;
    font-weight: bold;
    opacity: 0.5;
}

.icon_left_right {
    display: flex;
    padding-left: 81px;
}

.fashion_products {
    display: flex;
    margin: 30px 30px 0px 30px;
    border-bottom: 1px solid rgb(219, 215, 215);
    padding-bottom: 6px;
}

.view {
    display: flex;
    padding-top: 5px;
}

.fashion_icon {
    display: flex;
    padding-left: 42px;
}

.view_right {
    padding-left: 62%;
}

.fashion_first {
    font-size: 22px;
}

.fashion_first,
.view_right {
    flex: 1;
    display: flex;
}

.view_all_products {
    font-size: 10px;
}

.icon_view {
    font-size: 5px;
    position: absolute;
    color: white;
    padding-left: 4px;
    padding-top: 3px;
}

.icon_view_all_products {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: black;
    margin-left: 5px;
}

.fashion_icon_left {
    padding: 4px 8px;
    border-radius: 15px;
    background-color: #f4f4f4;
    font-size: 10px;
}

.fashion_icon_right {
    padding: 4px 8px;
    border-radius: 15px;
    background-color: skyblue;
    font-size: 10px;
    margin-left: 10px;
}

.navigation {
    padding-top: 10px;
}

.fashion_products_behind,
.navigation {
    display: flex;
}

.navigation_toys {
    display: flex;
}

.fashion_products_behind {
    margin: 20px 30px;
}

.all_fashion {
    display: flex;
}

.column {
    background: #7cd0f5;
    padding-top: 20px;
}

.clothing_second,
.shoe_second,
.backpack_second,
.hat_second,
.accessories_second {
    padding: 9px 50px 9px 9px;
}

.all_products {
    margin: 9px 0px 30px 9px;
}

.image_girl,
.girl {
    object-fit: fill;
    width: 170px;
    height: 269px;
}

.Crepe_Jacket,
.Animal_Print,
.printed_shirt,
.Knit_Cardigan {
    margin-left: 30px;
}

.image_single {
    max-width: 140px;
}

.image_fashion {
    position: absolute;
}

.new {
    border: 1px solid #abcd02;
    background: #abcd02;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    margin-left: 122px;
    font-size: 13px;
    margin-top: 6px;
}

.new_sale {
    border: 1px solid goldenrod;
    background: goldenrod;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    margin-left: 116px;
    font-size: 13px;
    margin-top: 6px;
}

.text_fashion {
    position: relative;
    margin-top: 173px;
    width: 140px;
}

.Crepe_Jacket_pompom,
.money_fashion,
.all_star_fashion {
    padding-bottom: 7px;
}

.text_fashion_two {
    position: relative;
    margin-top: 70px;
    width: 140px;
}

.widget {
    width: 25px;
    padding: 4px 0px;
    border-radius: 25px;
    background: #7cd0f5;
    text-align: center;
    display: inline-block;
}

.heart {
    width: 25px;
    padding: 4px 0px;
    border-radius: 25px;
    background: #f4f4f4;
    text-align: center;
    display: inline-block;
}

.money_fashion {
    display: flex;
}

.star_icon {
    font-size: 6px;
    color: #fdc140;
}

.all_star_fashion {
    display: flex;
}

.Review_fashion {
    padding-left: 7px;
    padding-top: 4px;
    font-size: 13px;
    opacity: 0.6;
}

.out_of_stock {
    position: relative;
    padding-top: 70px;
    text-align: center;
}

.see_similar {
    display: flex;
}

.see {
    padding-left: 11px;
    padding-right: 2px;
    color: goldenrod;
}

.similar_products {
    opacity: 0.6;
}

.container_testimonial {
    padding-top: 15px;
}

.testimonial {
    font-size: 22px;
    border-bottom: 1px solid rgb(189, 186, 186);
    padding-bottom: 7px;
}

.picture_testimonial {
    display: flex;
    padding-top: 23px;
}

.text_testimonal {
    padding-left: 18px;
    padding-top: 20px;
}

.graphic_design {
    opacity: 0.8;
}

.quotation_marks {
    font-size: 35px;
}

.text_lorem_ispum {
    font-size: 16px;
    opacity: 0.8;
}

.all_dots {
    display: flex;
    padding-top: 13px;
}

.dots {
    padding-right: 6px;
}

.container_sale {
    display: flex;
    padding-top: 110px;
}

.sale_weekend {
    flex: 1;
    display: flex;
    padding-right: 10px;
    /* margin-left: 30px; */
}

.backpack_2018 {
    flex: 1;
    display: flex;
    background: #e5f0f5;
    padding-left: 10px;
    margin-right: 30px;
}

.all_the_bag {
    display: flex;
    margin-right: -120px;
}

.sale_of {
    display: flex;
}

#sale_weekend {
    background: #f7eef2;
    padding-top: 20px;
    padding-right: 15px;
}

#socks {
    margin-left: 30px;
    width: 50%;
    background: #f7eff5;
}

#sale {
    padding-right: 5px;
}

#sale,
#of {
    color: #463f33;
    font-size: 50px;
}

.fivety {
    font-size: 50px;
    color: goldenrod;
    padding-right: 5px;
}

.text_weekend {
    color: #463f33;
    font-size: 20px;
}

#bow_first {
    left: -1px;
    position: relative;
    top: 98px;
    width: 4%;
}

#bow_second {
    position: relative;
    top: 100px;
    right: 33px;
}

.text_new_styles {
    padding-top: 30px;
}

.new_style {
    font-size: 22px;
    color: #4c4b6c;
}

#backpack {
    font-size: 30px;
    color: #4c4b6c;
    padding-right: 5px;
}

#backpack_2018 {
    display: flex;
}

.twenty_eighteen {
    font-size: 30px;
    color: #bb493d;
}

.text_dog {
    position: relative;
    margin-top: 176px;
    width: 140px;
}

#fashion_products {
    padding-top: 40px;
}

#toys {
    padding-top: 70px;
}

.blogs {
    font-size: 22px;
}

.icon_blog {
    display: flex;
    padding-left: 140px;
}

#text_pixel_creative,
#pixel_creative,
#jan_thirty,
.text_comments,
.text_like,
#text_comments_like {
    display: flex;
}

.image_blogs {
    padding-top: 25px;
}

.text_kindergarten {
    padding-top: 10px;
    font-size: 20px;
    color: #4c4b6c;
}

#text_pixel_creative {
    padding-top: 10px;
}

#jan_thirty {
    padding-left: 25px;
}

.pixel_creative {
    padding: 5px;
    opacity: 0.5;
}

.image_jan_thirty {
    width: 20px;
    height: 20px;
}

.jan_thirty {
    padding: 2px 5px;
    opacity: 0.5;
}

.text_perfect_class {
    font-size: 17px;
    color: #4c4b6c;
    padding-top: 8px;
}

#text_comments_like {
    padding-top: 13px;
}

.text_like {
    padding-left: 50px;
    opacity: 0.7;
}

.text_comments {
    opacity: 0.7;
}

.comments,
.like {
    padding-left: 7px;
}

.your_email {
    margin: 18px;
    padding: 10px 200px;
    border-radius: 16px;
    box-sizing: border-box;
    border: none;
}

#button {
    display: flex;
    background: #daf2fc;
    margin: 120px 30px;
    height: 70px;
}

.text_miukid {
    display: flex;
    align-items: center;
    padding-left: 38px;
}

.button_your_email {
    background: #7cd0f5;
    border: none;
    padding: 7px 40px;
    border-radius: 26px;
    margin-top: 18px;
}

#button_input {
    margin-left: 10px;
    display: flex;
}

#miukid {
    color: #4c4b6c;
    padding-left: 4px;
    font-size: 22px;
}

#education {
    padding-top: 76px;
}

.section_footer {
    /* margin: 40px 30px; */
    border-top: 1px solid #e5e5ec;
    padding-top: 30px;
}

.container_all_footer {
    margin: 0 30px;
    display: flex;
    color: #888895;
}

.image_footer_first,
.image_footer_second,
.telephone,
.email,
.oclock {
    display: flex;
}

.container_contact,
.container_information,
.container_service,
.container_links,
.container_instagram {
    flex: 1;
}

.image_footer_first {
    padding-top: 20px;
}

.container_information,
.container_service,
.container_links,
.container_instagram {
    padding-top: 42px;
}

#miukid_premeum {
    padding-top: 20px;
}

.container_information {
    padding-left: 50px;
}

.telephone {
    padding-top: 17px;
}

.email {
    padding-top: 7px;
}

.oclock {
    padding-top: 7px;
}

.icon_footer {
    padding-right: 9px;
}

.title_footer {
    color: black;
    font-size: 22px;
}

.text_about_us {
    padding-top: 17px;
}

.text_general {
    padding-top: 10px;
}

.text_shipping_return {
    padding-top: 10px;
    padding-left: 5px;
    color: black;
}

.buy_this_theme {
    background: #7cd0f5;
    padding: 10px 15px;
    border-radius: 23px;
    border: none;
    margin-top: 20px;
    color: white;
}

.buy_this_theme:focus {
    border: none;
}

.image_footer {
    padding-right: 7px;
}

.text_icon_footer {
    display: flex;
    padding-top: 60px;
    padding-bottom: 30px;
    margin: 0px 30px;
}

#icon_footer {
    display: flex;
    flex: 1;
    opacity: 0.6;
}

.all_home {
    display: flex;
    flex: 1;
    padding-left: 60%;
    color: #888895;
}

.icon_twitter,
.icon_stripe,
.icon_vine {
    padding-right: 20px;
}

.home {
    padding-right: 20px;
    color: black;
}

.new_arrival {
    padding-right: 20px;
}

.footer_final {
    display: flex;
    padding-top: 40px;
    border-top: 1px solid #e5e5ec;
    margin: 0px 30px;
}

.copyright,
.visa {
    display: flex;
    color: #888895;
}

.visa {
    padding-left: 49%;
}

#visa {
    padding-right: 5px;
}

#text_copyright_second {
    color: black;
    padding: 0 2px;
}